# PORT
PORT=<port>

# Environment
NODE_ENV=<development | production>

# Database
MONGO_URI=<mongodb uri>

# Logging Level - 'error', 'warn', 'info', 'http', 'verbose', 'debug', 'silly'
LOG_LEVEL=<error | warn | info | http | verbose | debug | silly>