# PORT
PORT=<port>

# Environment
NODE_ENV=<development | production>

# Database
MONGO_URI=<mongodb uri>

# Logging Level - 'error', 'warn', 'info', 'http', 'verbose', 'debug', 'silly'
LOG_LEVEL=<error | warn | info | http | verbose | debug | silly>

# JWT
JWT_ACCESS_SECRET=<your_jwt_access_secret>
JWT_REFRESH_SECRET=<your_jwt_refresh_secret>
ACCESS_TOKEN_EXPIRY=<access_token_expiry_time>
REFRESH_TOKEN_EXPIRY=<refresh_token_expiry_time>